*{
    margin:0;
    padding: 0;
}
.logo{
    width:20%;
     justify-content: center;
    align-items: center;
 display:flex;
}
.logo img{
    width:60%;
    border: 2px solid black;
    border-radius: 50px;
}
.navbar{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  margin:auto;
  border: 10px solid black;
  
}
.navlist{
    width:70%;
   
    display: flex;
    align-items: center; 
}
.navlist li{
    list-style:none;
    padding: 26px 30px;
    text-decoration: none;
   font-size: 18px;
  
}

.navlist li a{
text-decoration:none;
color:aqua;

}
.navlist li a:hover{
    text-decoration: none;
    color:rgb(0, 255, 42);
    }
.rightnav{
    width:30%;
    text-align:right;
    padding: 0px 5px;
    margin: auto;
}
#search{
    margin-top: 15px;
    padding:10px;
    font-size:7px;
    border:2px solid grey;
    border-radius:10px ;
}
.background{
    background:url("AssuredAstonishingCanary.webp");
    background-size: cover;
    background-blend-mode: darken;
    
}
.mainbody{
  width:100%;
   display: flex;
   flex-direction:column;
   align-items: center;
   justify-content: center;
   margin: auto;  

}
.firstsection{
   width:100%;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   border: 10px solid black;  
   padding-top: 20px;
   margin: auto;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width:50%;
    margin:auto;
    padding: 20px;
    
}

.firstsection.firstHalf{
    width: 50%;
    justify-content:center;
    justify-items: center;
    display:block;
    margin: auto;
}
.firstsection.secondHalf{
    width:50%;
    justify-content:center;
    display: block;
    margin: auto;
}
.secondHalf img{
    width:180%;   
    justify-content: center;
    align-items: center;
    display:flex;
    margin: auto; 
    top:0;
    
}
.text_big{
  color:white;

    font-size:100px;
    font-weight:100;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(59, 6, 184), 0 0 5px darkblue;
}
.text_small{
    font-style: italic;
    margin-left: 20px;    
    font-size: 20px;
    color:yellow;
    margin-bottom: 10px;
    padding-left: 20px;
}
.para1{
  font-size: 30px;
  color:yellow;
  font-weight: 500;
  font-style: italic;
}
.pheading{
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.photo1{
  color:aqua; 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  
 
}
.secondSection{
 width:100%;
 display: flex;
 flex-direction:row;
 align-items:center;
 justify-content:center;
 color:white;
 margin: auto;
 padding-top:100px;
 padding-bottom: 90px;
 
}
.secondcontainer{
    display: flex;
    flex-direction:row;
    justify-content:center;
    justify-items: center;
    align-items: center;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:100%;
    margin: auto;
    
}
.secondSection.secFirst{
    width:50%;
    display: flex;
    justify-content:center;
    align-items: center; 
    margin:auto;
}
 .secFirst #bapuji{
    max-width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto; 
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-style: outset;  
    border-color: aqua;
}
.secSecond
{
    width:50%; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: auto;
    font-size: 20px;
    padding-right: 20px;
}
.thirdsection{
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  margin: auto;
 padding-top: 100px;
}
div.gallery {
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: white;
    
  }
  h2{
    color:aqua;
  }
  
  div.gallery:hover {
    border: 1px solid aqua;
  }
  
  div.gallery img {
    width: 100%;
    margin:auto;
    
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color: aqua;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  .burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 10px;
    display: none;
  }
  .line{
    width:33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
  }
  .btn{
    color: aqua;
    background:none;
    width:50px;
    height:30px;
    border-radius: 5px;
    margin: 10px;
  }
  .btn:hover{
    background:linear-gradient(135deg,rgb(1, 46, 1),rgb(240, 17, 17));
    transition: .5s;
}
.btn1{
  color: aqua;
  background:none;
  width:120px;
  height:30px;
  border-radius: 5px;
  margin: 10px;
}
.btn1:hover{
  background:linear-gradient(135deg,rgb(30, 221, 5),rgb(240, 17, 17));
  transition: .5s;
  transform: scale(1.10); 
  color: black;
}
.fourthSection{
  width:100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 10px solid black;  
  padding-top: 100px;
}
.fourthContainer{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   color:white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   width:100%;
   margin:auto;
  
}
.fourthContainer1{
    width:50%; 
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    margin: auto;
   

}
.fourthContainer2{
  width:50%; 
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin: auto;
}
.listitem{
  margin:auto;
  padding: 20px;
  padding-bottom: 10px;
  font-size: 18px;
  border: 1px solid aqua;
  border-radius:20px;

}







  @media only screen and (max-width:1140px) {
    .navlist{
      flex-direction: column;
    }
    .navbar{
      flex-direction: column;
      transition: all 0.7s ease-in-out;
      height: 400px;
    }
    .nav-h{
      flex-direction: column;
      transition: all 0.7s ease-in;
      height: 50px;
    }
    .rightnav{
      text-align: center;  
    }
    #search{
      width:100%;
    }
    .burger{
      display: block;
    }
    .h-nav{
      height:50px;
    }
    .v-class{
      opacity: 0;
    }
    .mainbody{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .firstsection{
      justify-content: center;
      flex-direction: column;
      width: 100%;
    }
    .secondSection{
      flex-direction: column;
      width: 100%;
    }
    .container{
      flex-direction: column-reverse;
      width: 100%;
      justify-content: center;
      align-items: center;
      
    }
    .text_big{
      font-size:70px;
      font-weight: 500;
    }
       .secSecond{
      justify-content:center;
      margin-top: 20px;
      width: 80%;
    }
    .listitem{
      justify-content: center;
      align-items: center;
     
      width:90%;
    }
    .fourthContainer1{
      width: 100%;
      padding-bottom: 20px;
    }
    .secondHalf img{
      width: 130%;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
    }
    
    .secondcontainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
     
    }
    .fourthContainer{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;  
     
    }
    .fourthSection{
      width:100%;
      display: flex;
      flex-direction: column;
    }
    .fourthContainer2{
      width:100%;
      flex-direction: column;
    }
    .fourthContainer{
      width:100%;
      flex-direction: column;
    }
    .videoimg{
      width: 100%;
    }
    
  }
  
 /* @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }*/
  
  @media only screen and (max-width:600px) {
    .responsive {
      width: 100%;
    }
  }
  
